{% extends 'registration/base.html.twig' %}

{% block body %}
    <div class="form-screen">
        <a href="{{ path('app_project_index') }}" class="easion-logo">
            <span>Project Management</span>
        </a>
        <div class="card account-dialog">
            <div class="card-header bg-primary text-white">Create an account</div>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Enter username'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Enter email'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.pictureFile, {'attr': {'class': 'form-control-file', 'accept': 'image/*'}}) }}
                </div>
                <div class="account-dialog-actions">
                    <button type="submit" class="btn btn-primary">Sign up</button>
                    <a class="account-dialog-link" href="{{ path('app_login') }}">Already have an account?</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
